@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}


.swiper .swiper-pagination-bullet {
  background-color: lightgrey; 
  opacity: 0.6; 
  transition: opacity 0.3s;
}

.swiper .swiper-pagination-bullet-active {
  background-color: white; 
  width: 15px;
  height: 15px;
  opacity: 1; 
}
